@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

@theme{
  --font-fira: "Fira Code", monospace;
  --color-primary: #C778DD;
  --color-background: #282C33;
  --color-gray: #ABB2BF;

}