@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-fira: 'Fira Code', monospace;
  --color-primary: #c778dd;
  --color-background: #282c33;
  --color-gray: #abb2bf;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* For Internet Explorer and older Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}


@layer utilities {
  ::selection {
    background-color: #c778dd; 
    color: black;
  }
}

